
.top-bar {
    background-color: #132A13;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
    margin: 0;
}

.top-bar-content p {
    margin: 0;
    font-size: 14px;
}

.navbar {
    padding: 0;
    margin: 0;
    border-bottom: none !important;
    box-shadow: none !important;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    padding: 10px 0;
}

    .navbar-brand img {
        width: 80px;
        height: 80px;
        object-fit: contain;
        display: block;
    }

.brand-text {
    margin-left: 5px;
    font-family: 'Segoe UI', sans-serif;
    font-size: 26px;
    font-weight: 450;
    transition: color 0.3s ease;
}

.brand-text:hover {
    color: #2f3e46;
    }

.navbar-nav {
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
}

 .navbar-nav .nav-link {
     font-size: 16px;
     color: #2f3e46;
     text-decoration: none;
     transition: all 0.3s ease;
    }

 .navbar-nav .nav-link:hover {
     color: #31572C;
     font-weight: 600;
        }

.navbar-buttons {
    display: flex;
    gap: 10px;
}

.btn {
    padding: 8px 16px;
    font-size: 14px;
    text-decoration: none;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: all 0.3s ease;
}

.btn-outline-primary {
    border-color: #31572C;
    color: #31572C;
}

.btn-outline-primary:hover {
      background-color: #31572C;
      color: white;
    }

.btn-primary {
     background-color: #31572C;
     border-color: #31572C;
     color: white;
}

 .btn-primary:hover {
      background-color: #1f3b1e;
      border-color: #1f3b1e;
    }

.site-footer {
    z-index: 10;
    text-align: center;
    border-top: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    font-size: 14px;
    color: #666;
    margin-top:auto;
}