@model FloraMind_V1.Models.Content

@{
    ViewData["Title"] = "Yeni İçerik Ekle";
}
<link rel="stylesheet" href="~/css/CreateContent.css" />

<h2 class="mb-4">Yeni İçerik Ekle</h2>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-action="Create" method="post">
            
            <div asp-validation-summary="All" class="text-danger mb-4 fw-bold"></div>

            <div class="mb-3">
                <label asp-for="PlantID" class="form-label">
                    İçeriğin Ait Olduğu Bitki <span class="text-danger">*</span>
                </label>
                <select asp-for="PlantID" class="form-select" asp-items="ViewBag.PlantID">
                    
                </select>
                <span asp-validation-for="PlantID" class="text-danger"></span>
            </div>

            <div class="mb-3">
                <label asp-for="Title" class="form-label">
                    İçerik Başlığı <span class="text-danger">*</span>
                </label>
                <input asp-for="Title" class="form-control" placeholder="Ör: Aloe Vera Bakımı" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>

            <div class="mb-4">
                <label asp-for="Body" class="form-label">
                    İçerik Metni <span class="text-danger">*</span>
                </label>
                <textarea asp-for="Body" class="form-control" rows="12"
                          placeholder="Bitki hakkında detaylı bilgi, bakım ipuçları vs. yazınız..."></textarea>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>

            <div class="d-flex gap-2">
                <button type="submit" class="btn btn-success btn-lg">
                    Kaydet
                </button>
                <a asp-action="Index" class="btn btn-secondary btn-lg">
                    İptal
                </a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}