@model IEnumerable<FloraMind_V1.Models.Plant>
@{
    ViewData["Title"] = "Bitki Kataloğu";
}

<link rel="stylesheet" href="~/css/ShowCatalog.css" />

<h2 class="page-title">Bitki Kataloğu</h2>

<div class="card-container">
	
            @foreach (var item in Model)
            {
                <div class="plant-card">
                    <div class="image-wrapper">

                        <img src="">

                    </div>
                    
                    <div class="card-body">
                        <h3>@item.Name</h3>

                        <ul>
                            <li><strong>Tür:</strong> @item.Species</li>
              
                        </ul>

                        <button class="info-btn">Bilgi</button>

                        <div class="card-info">
                            <p></p>

                             <form asp-controller="UserPlants" asp-action="Add" method="post">
                        <input type="hidden" name="plantId" value="@item.PlantID" />

                        <button type="submit" class="save-btn">
                            🌱 Bitkilerime Kaydet
                        </button>
                              </form>
                        </div>
                    </div>
                </div>
            }


</div>

<script>
    document.querySelectorAll('.info-btn').forEach(btn => {
        btn.addEventListener('click', function () {
            const card = this.closest('.plant-card');
            card.classList.toggle('active');
        });
    });
</script>
